@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkmagenta;
}

.wrapper {
    border: 2px solid rgba(255, 255, 255, .2);
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    backdrop-filter: blur(9px);
    border-radius: 12px;
    color: white;
}

.calculadora {
    width: 100%;
    margin-top: 20px;
}

.display {
    margin-bottom: 20px;
}

#display-calculadora {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgba(255, 255, 255, .2);
}